body {
  font-family: 'Voces', sans-serif;
  color: #A1A1C1;
  background: #A7A7A7 url('img/grey_wash_wall.png') repeat;
}

a {
  color: #5C8BDB;
  text-decoration: none;
}


h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #313151;
}

.btn {
  font-family: 'Nunito';
  color: #313151;
  background: #ED9C1A;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #313101;
}

ul.nav {
  margin: 120px 0 0 0;
  list-style: none;
  float: right;
  font-weight: bold;
}

ul.nav li {
  float: left;
  margin-right: 45px;
  font-size: 1.3em;
}

ul.nav li a{
  color: #313151;
}

ul.nav li a:hover{
  color: #E8D8C8;
}

#intro {
  margin: 45px 0 5px 0;
}
#knit-fabric img{
  border: 8px solid #313151;
  margin: 50px 50px 30px 0;
}
#knit-plushies img{
  border: 8px solid #313151;
  margin: 0 0 20px 0;
}
#knitter img{
  border: 8px solid #313151;
}
#copyright {
  border-top: 8px solid #313151;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}